
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./public/style/main.css">
    <title>Album photo</title>

</head>
<body data-uid="<%= albumInfos.uid %>">

<!--
TitleAlbum
Date
Description

  -->

<div class="flex flex-col items-center">
    <div class="w-full md:w-8/12">
        <h1 class="text-4xl md:text-5xl font-bold text-slate-100 mt-8 mb-4"><%= albumInfos.title %></h1>
        <p class="text-sm md:text-base  my-2 text-slate-100"><%= albumInfos.date %></p>
        <p class="text-base md:text-lg  my-2 text-slate-100"><%= albumInfos.description %> </p>
    </div>
</div>
<h2 class="text-slate-100 text-4xl">Favoris</h2>
<div class="display-favorite" style="width: 1440px; height: 400px;">

</div>

<h2 class="text-slate-100 text-4xl">Séparation</h2>

    <%- include('components/masonry') -%>


    <div id="imageModal" class="hidden fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center transition-transform z-50">
        
        <div id="navBarImg" class="absolute top-0 right-0 cursor-pointer p-2 w-full flex gap-8 px-4">
            <!-- Icône pour fermer le modal -->
            <div id="closeModal">
                <svg xmlns="http://www.w3.org/2000/svg" class="cross-close h-6 w-6 text-white hover:scale-125" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </div>
            <!-- Icône pour dl -->
            <div id="dl-img">
                <button id="dl-image">
                    <svg xmlns="http://www.w3.org/2000/svg" class="download-icon h-6 w-6 text-white hover:scale-125" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v12m0 0l-4-4m4 4l4-4M4 20h16" />
                    </svg>
                </button>
            </div>
            <!-- Icône pour favoris -->
            <div id="fav-img">
                <a href="#" id="add-fav-image">
                <svg xmlns="http://www.w3.org/2000/svg" class="favorite-icon h-6 w-6 text-white hover:scale-125" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.492 4.492 0 00-6.364 0z" />
                </svg>
                </a>
            </div>
        </div>
        <div class="flex justify-center items-center w-3/4 max-h-3/4 relative">

            <!-- Icônes pour naviguer entre les images -->

            <div class="relative">
                <img id="modalImage" src="" alt="Image en grand" class="">
                <div id="prevImage" class="absolute left-0 cursor-pointer p-4 select-none py-64 backdrop-filter-container">
                    <!-- Icône précédente -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="navigation-arrow h-6 w-6 text-white gradient-overlay" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                    </svg>
                </div>
                <div id="nextImage" class="absolute right-0 cursor-pointer p-4 select-none py-64">
                    <!-- Icône suivante -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="navigation-arrow h-6 w-6 text-white drop-shadow-xl" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                    </svg>
                </div>
            </div>
        </div>
    </div>


</div>



<script src="./public/utils.js"></script>


<script src="./public/script/imagesloaded.pkgd.min.js"></script>
<script src="./public/script/fetchimagesclient.js"></script>
<script src="./public/script/client.js"></script>
<script src="./public/script/masonry.pkgd.min.js"></script>

<%- include('layout/footer') -%>